.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo__place_header{
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  background-image: url("/images/logo_place_header.svg");
}

.header__title{
  width: 730px;
  left: 64px;
  z-index: 1;
  left: 64px;
  position: relative;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle{
  position: absolute;
  min-width: 388px;
  max-width: 400px; 
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed; 
}

.header__square-pic{
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;

}

.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  background-image: url('/images/two_again.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.two-columns{
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
  margin: 100px auto 100px;
  align-self: center;
  gap: 50px; /*костыль*/
}
.two-columns__brief{
  flex: 0 0 175px;
  text-align: left;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;

}
.two-columns__main-text{
  flex: 1;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-style: normal; 
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table {
  width: 1100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  position: relative;
  background-image: url('/images/feynman.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  height: 890px;
}

.feynman__title{
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}

.feynman__subtitle{
  position: relative;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman{
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
}

.section-title_theme_dark {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin-top: 90px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  z-index: 1;
}

.table_theme_dark {
  width: 1100px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  color: white;
}

.table__text_theme_dark {
  margin-top: 20px;
  margin-bottom: 0;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.kaufman__triangle{
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url('/images/kaufman-triangle.svg');
  z-index: 0;
  width: 877px;
  height: 877px;
}

.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  padding: 60px 40px;
  justify-content: center;
}

.footer__columns{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

.footer__columns_content_copyright{
  flex-basis: 711px;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  /* align-items: baseline; */
}


.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: flex;
  margin-left: auto;

}

.footer__column-links{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-left: auto;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

.footer__social-icon{
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.logo__place_footer{
  width: 228px;
  height: 32px;
  background-image: url("/images/logo_place_footer.svg");
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}