.place__website_link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
    display: block;
    margin-bottom: -1px;
}

@media screen and (max-width: 768px) {
    .place__website_link {
        margin-bottom: 2px;
    }
}